* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.bighead {
    background-color: #E554731A;
    width: 1920px;
    height: 850px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
}

.kinefel {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.mainhead-pic {
    width: 635px;
    height: 800px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-top: 50px;
}

.mainhead-text {
    padding-top: 197px;
    padding-left: 200px;
}

.mainhead-qoute {
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
}

.head-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 32px 20px 0px;
}

/* main part */
/* section one */
.sec-one-head-h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

.sec-one-head-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sec-one {
    width: 1920px;
    height: 1300px;
    background-color: #FFF;
}

.sec-one-head {
    margin-top: 178px;
    margin-bottom: 40px;
}

.first-circle {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
    margin: 0px;
}

.pink-flr {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}

.pink-link {
    color: #272727;
    padding: 120px;

    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

.mix {
    width: 370px;
    height: 370px;
    margin-bottom: 60px;
}

.reda {
    background-color: rgba(5, 151, 160, 0.15)
}

.tix {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

.teda {
    background: rgba(71, 125, 17, 0.15);
}

.half-circle {
    display: flex;
    justify-content: space-evenly;
    margin-right: 120px;
}

.support {
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px 128px 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.support-tag {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.support-one {
    text-align: center;
}

/* hot deal part */
.sec-two {
    width: 100%;
    height: 620px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.05);

}

.sec-two-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.sec-two-pic-img {
    width: 318px;
    height: 420px;
    margin-top: 100;
    margin-right: 429;
    margin-bottom: 100px;

}

.sec-two-body-h {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.off {
    color: #E55473;
}

.sec-two-head-pera {
    text-align: center;
}

.sec-two-head-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 220px;
    cursor: pointer;
}

.instagram {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.insta {
    margin-top: 128px;
}

.insta-potrait-pics {
    width: 342px;
    height: 396px;
}

.insta-potrait {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    background-image: url('vaacard.png');
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 128px 240px;
}

.card-text-head {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.card-text-body {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.card-text {
    padding-top: 122px;
}

.formal {
    display: flex;
    justify-content: center;
    gap: 10px;
}

form>input {

    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    padding-left: 22px;
    margin-top: 40px;
    margin-left: -100px;
}

.last-btn {
    margin-top: 40px;
    padding-top: 18.29px;
    height: 27.429px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    border: none;
    align-items: center;
    cursor: pointer;
}

.forminput {
    padding-left: 3px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

footer {
    background-color: #111010;
    width: 100% auto;
    height: 449px;
}

.flowersop {
    color:#FFFFFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top:  128px;
}
.flower{
    color: #E55473;
}
.flowersop-p1{
width: 625px;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-left: 600px;
margin-top: 24px;
}
.foot{
    text-align: center;
    align-items: center;
  
}
.flowersop-p2{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 30px;
margin-left: 25px;
}