* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.bighead {
    background-color: #E554731A;
    width: 1920px;
    height: 850px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
}

.kinefel {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.mainhead-pic {
    width: 635px;
    height: 800px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-top: 50px;
}

.mainhead-text {
    padding-top: 197px;
    padding-left: 200px;
}

.mainhead-qoute {
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
}

.head-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 32px 20px 0px;
}

/* main part */
/* section one */
.sec-one-head-h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

.sec-one-head-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sec-one {
    width: 1920px;
    height: 4867px;
    background-color: #FFF;
}

.sec-one-head {
    margin-top: 178px;
    margin-bottom: 40px;
}

.first-circle {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    align-items: center;
    margin: 0px;
}

.pink-flr {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}

.pink-link {
    color: #272727;
    padding: 120px;

    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

.mix {
    width: 370px;
    height: 370px;
    margin-bottom: 60px;
}

.reda {
    background-color: rgba(5, 151, 160, 0.15)
}

.tix {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.teda{
    background: rgba(71, 125, 17, 0.15);
}
.half-circle{
    display: flex;
    justify-content: space-evenly;
    margin-right: 120px;
}